ion-app {
	padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
	padding-top: env(safe-area-inset-top); /* iOS 11.2 */
	margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
	margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
}
